<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django entorno virtual</title>

</head>
<body>  
        <p>Este es mi prueba de la pagina de {{nombre}} {{apellido}}</p>
        
        
                <p>
                    Familiar #1
                    <ul>
                        <li>{{perro.nombre}}</li>
                        <li>{{perro.edad}}</li>   
                        
                    </ul>


                </p>



                <p>
                    Familiar #2
                    <ul>
                        <li>{{perro2.nombre}}</li>
                        <li>{{perro2.edad}}</li>   
                        
                    </ul>


                </p>


                <p>
                    Familiar #3
                    <ul>
                        <li>{{perro3.nombre}}</li>
                        <li>{{perro3.edad}}</li>   
                        
                    </ul>


                </p>




</body>
</html>   

